<header class="site-header" role="banner">

  <div class="wrapper">
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    {% if page_paths %}
      <nav class="site-nav">
          
        <script data-ad-client="ca-pub-6155459918319745" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>


        <div class="nav justify-content-end">
          <a href="{{ '/about' }}">About</a>
          <a href="{{ '/contact' }}">Contact</a>
          <a href="{{ '/projects' }}">Projects</a>
          <a href="{{ '/posts' }}">All Posts</a>
        </div>
      </nav>
    {% endif %}
  </div>
